################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/TwicasAPI/obj
/TwicasAPI/bin/Debug/net5.0
